@import "../../../colors";

.container-fluid, .header{
    padding: 0px;
}

.bi-arrow-left-short{
    font-size: 40px;
    color: $color-primary;
}

.logo{
    width: auto;
}

.navbar{
    padding: 0px;
    border-bottom: 1px solid #d2d7da;
}

.navbar-light .navbar-toggler{
    border: none;
    padding: 0px;
    margin-left: 8px;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 138, 205, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.navbar-collapse{
    justify-content: end;
    .info{
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 30px;
        .label-nombre{
            color: $color-secundary;
            font-size: 18px;
            font-weight: bold;
        }
        .label-cargo{
            color: $color-tertiary;
            font-size: 16px;
        }
    }
}

@media (min-width: 991px) {
    .header{
        .bi-arrow-left-short{
            display: none;
        }
    }
}

@media (max-width: 991px){
    .logo{
        width: 200px;
    }
}