<div class="row contenedor">
    <h1 class="titulo bold">{{cliente.nombre}}</h1>
    <div class="nit">
        <label class="mr-5">Nit:</label>
        <label>{{cliente.nit}}</label>
    </div>
    <div class="row categoria">
        <div class="col-6">
            <label class="label bold mr-5">Capa:</label>
            <label class="label">{{cliente.capa}}</label>
        </div>
        <div class="col-6">
            <label class="label bold mr-5">Segmento:</label>
            <label class="label">{{cliente.segmento}}</label>
        </div>
    </div>
</div>
