@media (min-width: 320px){
    .container{
        max-width: 90%;
    }
}

@media (min-width: 768px){
    .container{
        max-width: 70%;
    }
}

@media (min-width: 1280px){
    .container{
        max-width: 50%;
    }
}