<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-operacion-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Operación</button>
    <button class="nav-link" id="nav-indicadores-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Indicadores</button>
    <button class="nav-link" id="nav-informacion-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Información cliente</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-operacion-tab">
    <p class="parrafo">Indique la línea de credito que quiere reconsiderar</p>
    <app-cards [cards]="cards"></app-cards>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-indicadores-tab"></div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-informacion-tab"></div>
</div>